header>div{
  
  position:absolute;
  margin-top: 1cm;
  margin-bottom: 2cm;
  top:0;
  right:0;
  width:100%;
  height:98%;
  background-image: url("../images/SRHeader.jpg");
  background-repeat: no-repeat;
}
body{
  display:block;

}

@media screen and(min-width:767px){
  img{
    font-size: 1vw;
  }
  
}
h1{
    margin-top: 0.5cm;
    text-align: center;
    font-size: 3vw;
    text-shadow:0.02em 0.02em 0 #123456, -0.02em 0.02em 0 #123456, 0.02em -0.02em 0 #123456, -0.02em -0.02em 0 #123456, 0.04em 0.04em 0 #123456, 0.06em 0.06em 0 #123456, 0.08em 0.08em 0.04em rgba(0, 0, 0, 0.3);
color:#ffffff !important;
-ms-filter:"DropShadow(color=#123456,offx=2,offy=2)";
    
}
 .container{
    text-align: right;
    margin-top:5px;
    margin-bottom: 0.5cm;
    margin-right:2cm;
}
img {
   position: relative;
   top:660px;
    width: 500px;
    height: 370px;
    margin: 50px;
    right: 405px;
    transform: translateX(65%);
    margin-bottom: 90px;
   
  }



table{
    position: relative;
    left:220px;
    top :95px;
    width:475px;
    padding-top: 19cm;
    margin-top: 20cm;
    margin-right:0.2cm;
    margin: 100px auto;
    border-radius:2cm;
}
table *{
    border:1px solid #ddd;text-align: center;
  }
  table thead tr{
    background-color: rgba(0, 255, 119, 0.877);
  }
  table tbody tr:nth-child(even){
    background-color: #d0dedd;}
    h4{
      position: relative;
      margin-top: 0.5cm;
      margin-left:1cm;
      margin-right:2cm;
    
    text-align: right;
    font-size: 2vw;
    text-shadow:0.02em 0.02em 0 #123456, -0.02em 0.02em 0 #123456, 0.02em -0.02em 0 #123456, -0.02em -0.02em 0 #123456, 0.04em 0.04em 0 #123456, 0.06em 0.06em 0 #123456, 0.08em 0.08em 0.04em rgba(0, 0, 0, 0.3);
color:#ffffff !important;
-ms-filter:"DropShadow(color=#123456,offx=2,offy=2)";
    
    }
  table row{
    color: white;
  }
  table data{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
  }
  #discription{
    right:10px;
    left:1px;
    margin-top:285px;
    margin-bottom: 30px;
    padding-bottom: 4px;
  }
  p{
    top:-1cm;
    position: relative;
    text-shadow:0.02em 0.02em 0 #123456, -0.02em 0.02em 0 #123456, 0.02em -0.02em 0 #123456, -0.02em -0.02em 0 #123456, 0.04em 0.04em 0 #123456, 0.06em 0.06em 0 #123456, 0.08em 0.08em 0.04em rgba(0, 0, 0, 0.3);
    color:black !important;
    -ms-filter:"DropShadow(color=#123456,offx=2,offy=2)";
  }
  .grid{
    max-width: 1200px;
      margin: 0 auto;
      padding: 0 4%;
      display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(435px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
  }
  .grid img{
   
    top:20px;
    max-width:100%;
 
  }